// https://fonts.google.com/specimen/Roboto+Mono?sidebar.open&selection.family=Archivo:wght@600|Exo:ital,wght@0,400;1,600|Gloria+Hallelujah|Roboto+Mono:wght@300;400|Roboto:wght@300;400;500&query=roboto+mono

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Exo:ital,wght@0,400;1,600&family=Gloria+Hallelujah&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

// Variables

// colors
$txt-white: #fff;
$txt-primary: #64f4ac;
$light-text: #adadad;
$light-bg: #2d2e32;
$dark-bg: #25262a;

// Fonts
$mono: 'Roboto Mono', monospace;
$archivo: 'Archivo', sans-serif;
$heading: 'Roboto', sans-serif;
$handwriting: 'Gloria Hallelujah', cursive;

$shadow: 0 1px 2px rgba(103, 255, 219, 0.07), 0 2px 4px rgba(97, 242, 121, 0.07), 0 4px 8px rgba(67, 230, 67, 0.07);
$dark-shadow: 0 2rem 50px rgba(0, 0, 0, 0.2);

// Global styles

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	color: $light-text;
	font-family: $mono;
	line-height: 2rem;
	background-color: $light-bg;

	section {
		overflow: auto;
		padding-bottom: 5rem;

		&:nth-child(even) {
			background-color: $light-bg;
		}

		&:nth-child(odd) {
			background: $dark-bg;
		}

		.container {
			& > header h1 {
				font-family: $heading;
				text-transform: uppercase;
				margin: 3rem auto;

				&:after {
					content: '.';
					color: $txt-primary;
				}
			}
		}

		p {
			text-align: justify;
		}
	}
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

// buttons

.btn-primary,
.btn-secondary {
	margin: 0.5rem 1rem;
	border-radius: 6px;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	font-weight: 400;
	transition: all 0.1s;
	text-decoration: none;

	&:hover {
		background-color: darken($txt-primary, 25%);

		color: $txt-white;
		box-shadow: $shadow;
	}
}

.btn-primary {
	background: $txt-primary;
	color: $light-bg;
}

.btn-secondary {
	border: 1px solid $txt-primary;
	color: $txt-primary;
}

// text

h1 {
	font-weight: 400;
	font-size: 2rem;
	color: $txt-white;
	text-align: center;
}
h2 {
	text-align: center;
	padding-bottom: 1rem;
	color: $txt-white;
	font-family: $heading;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 400;

	&:after {
		content: '.';
		color: $txt-primary;
	}
}

p {
	max-width: 30rem;
	margin: auto;
	font-weight: 300;
	line-height: 1.75rem;
	@media screen and (min-width: 1080px) {
		line-height: 2rem;
	}
}

a {
	color: $txt-primary;
	transition: all 0.1s;
	font-weight: 300;

	&:hover {
		color: lighten($txt-primary, 15%);
		text-decoration: none;
		text-shadow: $shadow;
	}
}

q {
	font-family: $handwriting;
	text-align: center;
	font-size: 1rem;

	&:before,
	&:after {
		color: $txt-primary;
	}
}

.txt-white {
	color: $txt-white;
}

.txt-primary {
	color: $txt-primary;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Navbar

#navbar {
	height: 8vh;
	width: 100%;
	background-color: $light-bg;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		.logo {
			display: flex;
			height: 100%;
			align-content: center;

			svg {
				margin: auto;
				height: 75%;
			}

			&:hover {
				cursor: pointer;

				path {
					fill: $txt-white;
				}
			}
		}

		.hamburger-menu {
			max-width: 2rem;

			svg {
				width: 100%;
			}

			&:hover {
				color: $txt-white;
				cursor: pointer;

				path {
					fill: $txt-white;
				}
			}
		}
	}

	nav {
		position: fixed;
		justify-content: space-evenly;
		background: $light-bg;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 8vh;
		width: 100%;
		height: 92vh;

		a {
			color: $light-text;
			padding: 0.5rem;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: $txt-white;
				text-decoration: underline wavy;
			}
		}
	}

	.nav-hidden {
		display: none;
	}

	@media screen and (min-width: 1080px) {
		.container {
			.hamburger-menu {
				display: none;
			}
		}

		nav {
			position: relative;
			margin-top: initial;
			width: initial;
			height: initial;

			a {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}

		.nav-hidden {
			display: initial;
		}
	}
}

// Hero

#hero {
	height: 92vh;
	background: url('./static/bg_logo.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	.container {
		height: 100%;
		.content {
			height: 90%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h1 {
				font-family: $archivo;
				font-size: 2.5rem;
				line-height: 3rem;
				text-align: left;
			}

			h3 {
				font-family: $heading;
				font-weight: 300;

				span {
					color: white;
					font-weight: 400;
					font-style: italic;
				}
			}

			div {
				display: flex;
				justify-content: flex-start;

				a {
					font-weight: bold;
					margin-top: 1rem;
					margin-left: 0;
					padding: 0.75rem 2rem;
				}
			}
		}

		.logo {
			display: none;
		}
	}

	@media screen and (min-width: 1080px) {
		background-image: none;

		.container {
			display: flex;
			align-items: center;
			.content {
				width: 50%;
			}

			.logo {
				display: initial;
				width: 50%;
				background: url('./static/slant_logo.webp');
				background-position: left;
				background-size: contain;
				background-repeat: no-repeat;
				height: 100%;
				text-align: center;

				img {
					width: 100%;
				}
			}
		}
	}
}

// Overview

#overview {
	.bio .desk-ill {
		display: none;
	}

	#skills {
		margin-top: 5rem;
	}

	.skill-cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.skill-card {
			background-color: $light-bg;
			width: 300px;
			margin: 0.5rem;
			border-radius: 10px;
			padding: 1rem 3rem;
			box-shadow: $dark-shadow;

			h3 {
				color: white;
				font-size: 1rem;
				margin-bottom: 1rem;
				font-weight: 400;
			}

			li {
				list-style: none;
				font-family: $mono;
				font-weight: 400;
				font-size: 1.5rem;
				margin: 0.5rem auto;
			}
		}
	}

	@media screen and (min-width: 1080px) {
		.bio {
			display: flex;
			margin: auto;
			justify-content: space-evenly;
			align-items: center;

			p {
				margin: auto 0;
			}
			.desk-ill {
				flex: 1;
				display: inline-block;
				max-width: 20rem;

				img {
					max-width: 100%;
				}
			}
		}
	}
}

// Projects
#projects {
	.project-tile {
		margin: 2rem auto;
		.visual {
			display: flex;
			flex-direction: column;
			align-items: center;
			.btn-grp {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				flex-wrap: wrap;
			}

			img {
				max-width: 20rem;
				border-radius: 2.25rem;
				box-shadow: $dark-shadow;
			}
		}

		h1 {
			font-size: 2rem;
			margin: 1rem auto;
			text-align: center;
		}
	}

	@media screen and (min-width: 1080px) {
		.visual {
			margin-right: 1rem;
		}
		.project-tile {
			display: flex;
			justify-content: space-evenly;
		}
	}
}

// convinced

#convinced {
	padding: 2rem;

	a {
		font-weight: 400;
	}

	h2:after {
		content: '?';
	}

	p {
		text-align: center;
		margin: 2rem auto 0.5rem auto;
	}
}

// Mentions

.mention-timeline-element {
	p {
		margin-top: 0.5rem;
		margin-bottom: 3rem;
	}
}

// Contact

#contact .container {
	text-align: center;

	p {
		font-family: $handwriting;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.social-links {
		padding: 2rem;
		a {
			color: $light-text;
			font-size: 1rem;
			margin: 2rem;

			svg {
				height: 2rem;
			}

			&:hover path {
				fill: white;
			}
		}
	}
}

// Footer

footer {
	background: $light-bg;
	text-align: center;
	padding-top: 1rem;

	.container {
		max-width: 80%;
		padding: 2rem;
		margin: auto;
	}

	img {
		text-align: center;
		max-width: 3rem;
	}

	h1 {
		font-family: $heading;
		margin-bottom: 2rem;
		color: $light-text;
		font-weight: 500;

		span {
			font-weight: 200;
		}
	}
	.name-logo p,
	.quick-links h2 {
		display: none;
	}

	nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		margin: 1rem auto;

		a {
			margin: 0.5rem 1rem;
			color: $light-text;
		}
	}

	.other-info {
		background: $dark-bg;
		font-family: $heading;
		padding: 0.5rem;

		p {
			line-height: 1.25rem;
			font-size: 0.75rem;
		}
	}

	@media screen and (min-width: 1080px) {
		.main-footer {
			display: flex;
			justify-content: space-between;

			& > div {
				margin: 2rem;
			}
		}
		.name-logo p,
		.quick-links h2 {
			display: block;
		}

		.name-logo p {
			font-family: $heading;
			font-weight: 300;
		}

		h1 {
			margin-bottom: auto;
		}

		.other-info {
			font-family: $heading;
			padding: 0.5rem;

			.content {
				display: flex;
				justify-content: center;
			}

			p {
				margin: 0;
				margin-left: 2px;
			}
			span {
				color: $txt-primary;

				&:hover {
					color: $txt-white;
				}
			}
		}
	}
}
